.color-wrap {
    .color{
        width: 200px;
        height: 200px;
        margin: 100px;
        background: green;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

.color-3 {
    width: 200px;
    height: 200px;
    margin: 100px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

